.App{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tab-buttons{
    display: flex;
    border-bottom: 1px solid gray;
    margin-bottom: 10px;
    width: 30rem;
    justify-content: space-around;
}

.tab-button{
    margin-bottom: 5px;
}

button {
    border: none;
    background: none;
}


/* === input === */

#input-type-div{
    display: flex;
    justify-content: space-between;
    height: 3rem;
}

.input-new-task{
    flex-grow: 2;
    margin-right: 1rem;
    border: 1px solid gray;
    border-radius: 10px;
}

.add-button{
    background-color: rgb(42, 42, 255);
    flex-grow: 1;
    color: white;
    border-radius: 10px;
}

/* === list of task === */

.checkbox{
    margin-top: 1rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
}
input[type=checkbox] {
    transform: scale(2);
    border: solid 1px gray;
}

/* === task === */

.task-line{
    position: relative;
    display: flex;
    align-items: center;
}

.control-tab{
    position: absolute;
    right: 0;
}

.delete-button{
    background-color: rgb(42, 42, 255);
    color: white;
    border-radius: 10px;
}

.update-button{
    margin-left: 2px;
    background-color: rgb(42, 42, 255);
    color: white;
    border-radius: 10px;
}